# Python
.venv/
venv/
__pycache__/
*.pyc

# Environment
.env
.env.*

# Downloads
downloads/
cache/
temp/
tmp/

# Rendered videos
outputs/
renders/
exports/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# FFmpeg temp files
*.ts
*.part

# Generated metadata
*.srt
*.vtt
*.ass

# Local database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/

# Build
dist/
build/
